<div>
    <!-- <h1 class="display-1 title text-center">vendure storefront</h1> -->
    <vsf-main-posters [imageObject]="mainPosters"></vsf-main-posters>
</div>

<div>
    <vsf-top-brands [imageObject]="topBrands"></vsf-top-brands>
</div>

<div>
    <vsf-categories-images></vsf-categories-images>
</div>

<div>
    <vsf-top-sellers></vsf-top-sellers>
</div>
<div>
    <vsf-deal-of-day></vsf-deal-of-day>
</div>
<div>
    <vsf-new-arrivals></vsf-new-arrivals>
</div>
<!-- 
<div class="container">
    <div class="top-categories mt-5">
         <vsf-collection-card
            *ngFor="let collection of collections$ | async"
            [collection]="collection"
        >
        </vsf-collection-card>
    </div>
</div> -->
