<div>
    <vsf-main-posters [imageObject]="mainPosters"></vsf-main-posters>
</div>
<div>
    <vsf-our-services></vsf-our-services>
</div>

<div>
    <vsf-top-brands [imageObject]="topBrands"></vsf-top-brands>
</div>

<div>
    <vsf-categories-images></vsf-categories-images>
</div>
<div>
    <vsf-equipments></vsf-equipments>
</div>

<div>
    <vsf-instruments></vsf-instruments>
</div>

<div>
    <vsf-handpiece-store></vsf-handpiece-store>
</div>

<div>
    <vsf-top-files></vsf-top-files>
</div>

<div>
    <vsf-top-sellers></vsf-top-sellers>
</div>
<div>
    <vsf-deal-of-day></vsf-deal-of-day>
</div>
<div>
    <vsf-new-arrivals></vsf-new-arrivals>
</div>
<!-- 
<div class="container">
    <div class="top-categories mt-5">
         <vsf-collection-card
            *ngFor="let collection of collections$ | async"
            [collection]="collection"
        >
        </vsf-collection-card>
    </div>
</div> -->
