<div
    [ngClass]="{
        'container-fluid': true,
        'checkout-wrapper1': (activeStage$ | async) !== 4
    }"
>
    <div class="checkout-header">
        <vsf-checkout-stage-indicator
            [activeStage]="activeStage$ | async"
            [signedIn]="signedIn$ | async"
        ></vsf-checkout-stage-indicator>
    </div>
    <div class="checkout-body">
        <router-outlet></router-outlet>
        <div class="summary" *ngIf="cart$ | async as cart">
            <vsf-cart-contents
                [cart]="cart"
                class="mb-3"
                *ngIf="(activeStage$ | async) !== 4"
            ></vsf-cart-contents>
            <vsf-address-card
                *ngIf="cart.shippingAddress?.streetLine1"
                title="Shipping address"
                [address]="cart.shippingAddress"
            >
                <button
                    class="btn btn-secondary"
                    *ngIf="(activeStage$ | async) === 3"
                    (click)="changeShippingAddress()"
                >
                    Change
                </button>
            </vsf-address-card>
            <vsf-address-card
                *ngIf="cart.billingAddress?.streetLine1"
                title="Billin address"
                [address]="cart.billingAddress"
            >
                <button
                    class="btn btn-secondary"
                    *ngIf="(activeStage$ | async) === 3"
                    (click)="changeShippingAddress()"
                >
                    Change
                </button>
            </vsf-address-card>
        </div>
    </div>
</div>
