<div class="container">
    <vsf-collection-breadcrumbs
        [breadcrumbs]="breadcrumbs"
        *ngIf="product"
        class="mb-2"
        [linkLast]="true"
    ></vsf-collection-breadcrumbs>
    <ng-template [ngIf]="product" [ngIfElse]="placeholder">
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <vsf-asset-gallery
                    [assets]="product.assets"
                    [selectedAssetId]="product.featuredAsset?.id"
                ></vsf-asset-gallery>
            </div>
            <div class="col-12 col-md-6" #zoomPreviewArea>
                <h2 class="display-4 product-name">
                    Dummy brand
                </h2>
                <h4 class="display-4 product-name">
                    {{ product.name }}
                </h4>
                <div>
                    <span class="price">
                        {{ selectedVariant?.priceWithTax | formatPrice }}
                    </span>
                    <span class="price discounted-price">
                        Rs 250
                    </span>
                    <span class=" price product-discountPercentage">(30% OFF)</span>
                </div>
                <div class="purchase-options">
                    <mat-chip-list selectable="true">
                        <mat-chip
                            [selected]="variant.id == selectedVariant.id"
                            [color]="
                                variant.id == selectedVariant.id
                                    ? 'primary'
                                    : 'accent'
                            "
                            *ngFor="let variant of product.variants"
                            (click)="onVariantSelection(variant)"
                            >{{ variant.name }}</mat-chip
                        >
                    </mat-chip-list>
                    <div class="add-to-cart-wishlist-row">
                        <button
                            [disabled]="qty === 0"
                            class="btn btn-primary btn-lg cw-btns"
                            (click)="addToCart(selectedVariant, qty)"
                        >
                            <fa-icon
                                icon="shopping-cart"
                                class="mr-1"
                            ></fa-icon>
                            Add to cart
                        </button>
                        <button
                            [disabled]="qty === 0"
                            class="btn btn-outline-dark btn-lg cw-btns"
                            (click)="addToWishList(selectedVariant)"
                        >
                            <mat-icon aria-hidden="false"
                                >favorite_border</mat-icon
                            >
                            Add to Wishlist
                        </button>
                    </div>
                </div>
                <div
                    class="description"
                    [innerHTML]="product.description"
                ></div>
                <div class="delivery-option-container">
                    <h2>
                        DELIVERY OPTIONS
                        <mat-icon class="material-icons-outlined"
                            >local_shipping</mat-icon
                        >
                    </h2>

                    <mat-form-field appearance="legacy" floatLabel="false">
                        <input matInput placeholder="Enter a PIN code" />
                        <span matSuffix>Check</span>
                        <mat-hint
                            >Please enter PIN code to check delivery time & Pay
                            on Delivery Availability</mat-hint
                        >
                    </mat-form-field>

                    <ul class="services-list">
                        <li>
                            100% Original Products
                        </li>
                        <li>
                            Pay on delivery might be available
                        </li>
                        <li>
                            Easy 30 days returns and exchanges
                        </li>
                        <li>
                            Try & Buy might be available
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #placeholder>
        <div class="placeholder-breadcrumb loading-placeholder"></div>
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <div class="product-image">
                    <div class="placeholder-image loading-placeholder"></div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="placeholder-title loading-placeholder"></div>
                <div class="placeholder-description loading-placeholder"></div>
            </div>
        </div>
    </ng-template>
</div>

<ng-template
    #addedToCartTemplate
    let-variant="variant"
    let-quantity="quantity"
    let-close="closeFn"
>
    <div class="add-to-cart-notification">
        <div class="thumb mr-2">
            <img
                class=""
                [src]="
                    (variant.featuredAsset?.preview ||
                        product.featuredAsset?.preview) + '?preset=tiny'
                "
                alt="product thumbnail"
            />
        </div>
        <div>{{ quantity }} x {{ variant.name }}</div>
    </div>
    <button
        class="btn btn-sm btn-outline-primary btn-block"
        (click)="viewCartFromNotification(close)"
    >
        View cart
    </button>
</ng-template>
