@import "variables";

:host {
    display: block;
}

.dashboard-list {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    .dash-box {
        display: flex;
        flex-direction: column;
        min-width: 260px;
        border: 1px solid #eaeaec;
        padding: 10px;
        align-items: center;
        justify-content: center;
        height: 300px;
        text-align: center;
        grid-gap: 6px;
        .link-icon {
            width: 32px;
        }
        .dash-labels {
            font-weight: 600;
            font-size: 15px;
            margin-bottom: 4px;
        }
        .dash-desc {
            font-size: 12px;
            color: #94969f;
        }
    }
    .dash-box:hover {
        background-color: #f5f5f6;
        cursor: pointer;
    }
}
