<vsf-layout>
    <vsf-layout-header>
        <div class="header">
            <div class="container-fluid">
                <vsf-mobile-menu-toggle></vsf-mobile-menu-toggle>
                <a
                    [routerLink]="['/']"
                    class="logo-link d-none d-md-inline-block "
                >
                    <img
                        src="assets/icons/logo.png"
                        class="logo"
                        alt="hegmadental"
                    />
                </a>
                <vsf-product-search-bar
                    class="flex-grow-1"
                ></vsf-product-search-bar>
                <vsf-account-link class="mr-2"></vsf-account-link>
                <vsf-cart-toggle (toggle)="openCartDrawer()"></vsf-cart-toggle>
                <vsf-wishlist-toggle></vsf-wishlist-toggle>
            </div>
            <vsf-collections-menu></vsf-collections-menu>
        </div>
    </vsf-layout-header>
    <vsf-collections-menu-mobile
        [visible]="mobileNavVisible$ | async"
    ></vsf-collections-menu-mobile>
    <vsf-cart-drawer
        [visible]="cartDrawerVisible$ | async"
        (close)="closeCartDrawer()"
    ></vsf-cart-drawer>
    <div class="contents">
        <vsf-home-page *ngIf="isHomePage$ | async; else main"></vsf-home-page>
        <ng-template #main>
            <router-outlet></router-outlet>
        </ng-template>
    </div>

    <vsf-layout-footer>
        <div class="footer-container">
            <div class="info-section">
                <div class="s-header">About</div>
                <div>
                    <div class="item" [routerLink]="['./account', 'about']">
                        About us
                    </div>
                    <div class="item" [routerLink]="['./account', 'contact']">
                        Contact us
                    </div>
                    <div class="item" [routerLink]="['./account', 'careers']">
                        Careers
                    </div>
                </div>
            </div>
            <div class="info-section">
                <div class="s-header">Help</div>
                <div>
                    <div class="item" [routerLink]="['./account', 'order-info']">
                        Orders
                    </div>
                    <div class="item" [routerLink]="['./account', 'refunds']">
                        Refunds
                    </div>
                    <div class="item" [routerLink]="['./account', 'payments']">
                        Payments
                    </div>
                </div>
            </div>
            <div class="info-section">
                <div class="s-header">Policy</div>
                <div>
                    <div class="item" [routerLink]="['./account', 'return']">
                        Return policy
                    </div>
                    <div
                        class="item"
                        [routerLink]="['./account', 'term-of-use']"
                    >
                        Term of use
                    </div>
                    <div class="item" [routerLink]="['./account', 'privacy']">
                        Privacy
                    </div>
                    <div class="item" [routerLink]="['./account', 'sitemap']">
                        Sitemap
                    </div>
                </div>
            </div>
            <div class="info-section">
                <div class="s-header">Social</div>
                <div>
                    <div class="item">Facebook</div>
                    <div class="item">Twitter</div>
                    <div class="item">Linkedin</div>
                </div>
            </div>
            <div class="address-section info-section border-left pl-3">
                <div class="s-header">Registered Office Address:</div>
                <div>
                    <div class="item1">
                        #239, 8th Cross, 14th Main, G.K. Layout,
                    </div>
                    <div class="item1">
                        Hosa Road, Electronic City Post, Bengaluru - 560 100
                    </div>
                </div>
            </div>
            <div class="info-section">
                <div class="s-header">Mobile APP</div>
                <div class="item1">
                    IOS
                </div>
                <div class="item1">
                    Andriod
                </div>
            </div>
        </div>
    </vsf-layout-footer>
</vsf-layout>
