.header {
    background-color: #192436;
    border-bottom: 1px solid #e9ecef;

    > .container-fluid {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        height: 80px;
    }

}

.logo-link {
    display: flex;
    align-items: center;

    img.logo {
        max-height: 50px;
    }

    &:link, &:visited {
        color: #0e95c7;
        font-size: 22px;
    }
}
