<div *ngIf="activeCustomer$ | async as customer; else notLoggedIn">
    <div class="icon-name" [matMenuTriggerFor]="profilelogin">
        <mat-icon>person_outline</mat-icon>
        <span>Profile</span>
    </div>
    <mat-menu #profilelogin="matMenu" yPosition="below">
        <div class="profile-login-menu">
            <span class="font-weight-bold border-bottom pb-3">
                Hello {{ userName(customer) }}
            </span>
            <div class="profile-options-list">
                <div
                    class="item"
                    [routerLink]="['./']"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    Dashboard
                </div>
                <div class="item" [routerLink]="['./', 'orders']">
                    Orders
                </div>
                <div class="item" [routerLink]="['./', 'address-book']">
                    Address book
                </div>
                <div class="item" [routerLink]="['./', 'details']">
                    Personal details
                </div>
                <div
                    class="item border-bottom"
                    [routerLink]="['./', 'change-credentials']"
                >
                    Change credentials
                </div>
                <div class="item" (click)="signOut()">
                    Sign out
                </div>
            </div>
        </div>
    </mat-menu>
</div>
<ng-template #notLoggedIn>
    <div class="icon-name" [matMenuTriggerFor]="profilelogin">
        <mat-icon>person_outline</mat-icon>
        <span>Profile</span>
    </div>

    <mat-menu #profilelogin="matMenu" yPosition="below">
        <div class="profile-login-menu">
            <span class="font-weight-bold">
                Welcome
            </span>
            <span>
                To access account and manage orders
            </span>
            <button
                class="btn btn-danger mt-3"
                [routerLink]="['account/sign-in']"
            >
                Sign In/Sign up
            </button>
        </div>
    </mat-menu>
</ng-template>
