<div *ngIf="activeCustomer$ | async as customer; else notLoggedIn">
    <button class="btn btn-dark" [routerLink]="['/account']">
        <fa-icon icon="user-circle"></fa-icon>
        <span class="d-none d-sm-inline ml-1">{{ userName(customer) }}</span>
    </button>
</div>
<ng-template #notLoggedIn>
    <button class="btn btn-dark" [routerLink]="['account/sign-in']">
        <fa-icon icon="user-circle"></fa-icon>
        <span class="d-none d-sm-inline ml-1">Sign In/Sign up</span>
    </button>
</ng-template>
