@import "variables";

a.btn {
    background-color: transparent;
    border: none;

    &:hover {
        background-color: $light;
    }
}

.icon-name{
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    align-items: center;
}
.profile-login-menu{
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding: 10px;    
}