<div class="ml-md-3 filters-title">
    <div class="d-none d-md-block">
        <fa-icon icon="filter" class="mr-2"></fa-icon>
        Filters
    </div>
    <button
        class="filters-button d-md-none"
        (click)="manuallyExpanded = !manuallyExpanded"
    >
        <fa-icon icon="filter" class="mr-2"></fa-icon>
        Filters
    </button>
</div>
<div class="filters-wrapper" [class.expanded]="filtersExpanded">
    <div
        *ngFor="let facet of facets; trackBy: trackById"
        class="ml-md-3 facet-group border-bottom pb-2"
        [class.enabled]="activeFacetValueIds.length"
    >
        <span class="vertical-filters-header">{{
            facet.name | titlecase
        }}</span>
        <ul class="list-unstyled">
            <li
                *ngFor="let value of facet.values; trackBy: trackById"
                [class.active]="isActive(value.id)"                
            >
                <label class="mb-0 mr-4 mr-md-2 checkbox-container"
                    ><input
                        type="checkbox"
                        [checked]="isActive(value.id)"
                        (change)="toggleFacetValueIdInRoute(value.id)"
                        class="mr-1"
                    />
                    <span class="vertical-filters-label">{{ value.name }}</span>
                    <span class="checkmark"></span>
                </label>
            </li>
        </ul>
    </div>
</div>
