@import "variables";

:host {
    display: block;
    margin: $spacer $spacer / 2 $spacer * 2;
    width: 200px;

    &:hover {
        .product-image {
            transform: scale(1.05);
            opacity: 1;
        }
    }
}

.image-wrapper {
    display: block;
    overflow: hidden;
}
.info-container {
    padding: 10px;
    .discounted-price {
        text-decoration: line-through;
        color: #7e818c;
        font-weight: 400;
        margin-left: 5px;
        font-size: 12px;
    }
    .product-discountPercentage {
        color: #ff905a;
        font-weight: 400;
        font-size: 12px;
        margin-left: 5px;
    }
}

.product-image {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.85;
}
.product-brand {
    font-family: "ProximaNova-Bold";
    color: $gray-800;
    display: block;
    font-weight: bold;
    &:hover {
        color: $gray-700;
        text-decoration: underline;
        text-decoration-color: $gray-400;
    }
}

.product-name {
    color: $gray-800;
    display: block;
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    &:hover {
        color: $gray-700;
        text-decoration: underline;
        text-decoration-color: $gray-400;
    }
}

.price {
    font-weight: normal;
    color: $gray-600;
}

.placeholder-image {
    height: 200px;
    width: 200px;
}

.placeholder-title {
    height: $font-size-base;
    margin-bottom: $spacer / 2;
}

.placeholder-body {
    height: $font-size-base;
}
.product-card:hover {
    box-shadow: 0 2px 16px 4px rgb(40 44 63 / 7%);
}
