@import "variables";

:host {
    display: block;
    margin-top: $spacer * 2;

    .registration-sent {
        text-align: center;
        padding: $spacer * 2;
    }
}

::ng-deep .mat-form-field-outline-end {
    border-radius: 0px !important;
}
::ng-deep .mat-form-field-outline-start {
    border-radius: 0px !important;
}
