<div class="">
    <div class="text-banner-title">Handpiece store</div>
    <div class="product-list">
        <ng-container *ngIf="topSellersLoaded$ | async; else placeholders">
            <vsf-product-card
                *ngFor="let product of topSellers$ | async"
                [product]="product"
            ></vsf-product-card>
        </ng-container>
        <ng-template #placeholders>
            <vsf-product-card
                *ngFor="let product of placeholderProducts"
                [product]="product"
            ></vsf-product-card>
        </ng-template>
    </div>
</div>
