@import "variables";

:host {
    display: block;
}

.header {
}

.content {
    min-height: 60vh;
    margin-top: 130px;
}

.footer {
    background-color: #182436;
    margin-top: $spacer * 3;
    padding: $spacer * 3 0;
}
