@import "variables";

:host {
    display: block;
    position: relative;
    padding-bottom: 10px;
    overflow: hidden;    
}


a:hover {
    .card-background {
        filter: blur(0);
        opacity: 0.2;
    }

    text-decoration: none;
}

.collection-name {
    z-index: 1;
    position: relative;
    text-decoration: none;
    color: #596e84;
    mix-blend-mode: darken;
    text-shadow: 0px 0px 15px $light;
    font-size: 16px;
}
