<div class="slideshow-container">
    <div
        class="mySlides"
        *ngFor="let image of [1, 2, 3, 4, 5, 6, 7]; let index = index"
        [hidden]="index !== slideIndex"
    >
        <q
            >More responses means better, more diverse, and more accurate data
            from more demographics. Covering all these bases would help any
            business revolutionize their feedback approach, so incentivizing
            your surveys is heavily recommended.
        </q>
        <p class="author">- John Keats</p>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>

<div class="dot-container">
    <span
        class="dot"
        [class.active]="index === slideIndex"
        (click)="currentSlide(index)"
        *ngFor="let image of [1, 2, 3, 4, 5, 6, 7]; let index = index"
    ></span>
</div>
