<form [formGroup]="addressForm">
        <div class="row pb-2">
            <label for="fullName" class="col-sm-3 col-form-label">Full name</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="fullName" id="fullName">
            </div>
        </div>       
        <div class="row pb-2">
            <label for="streetLine1" class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="streetLine1" id="streetLine1" placeholder="House No, Building, Street, Area">
            </div>
        </div>
        <div class="row pb-2">
            <label for="city" class="col-sm-3 col-form-label">City</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="city" id="city">
            </div>
        </div>
        <div class="row pb-2">
            <label for="postalCode" class="col-sm-3 col-form-label">Post code</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="postalCode" id="postalCode">
            </div>
        </div>
        <div class="row pb-2">
            <label for="countryCode" class="col-sm-3 col-form-label">Country</label>
            <div class="col-sm-9">
                <select class="custom-select" formControlName="countryCode" id="countryCode">
                    <option *ngFor="let country of availableCountries" [ngValue]="country.code">
                        {{ country.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row pb-2">
            <label for="phoneNumber" class="col-sm-3 col-form-label">Phone number</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="phoneNumber" id="phoneNumber">
            </div>
        </div>
    </form>
